*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    background-color: #000;
    line-height: 1.4;
    font-weight: 300;
}

.light{
    color: #fff;
}

.navigation{
    display: flex;
    justify-content: space-between;

}
